body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  *{
    box-sizing: border-box;
  }
  h1{
      font-size: 40px;
      line-height: 50px;
  }
  h2{
    font-size: 35px;
    line-height: 40px;
}
h3{
    font-size: 30px !important;
    line-height: 35px !important;
}
p{
    font-size: 16px;
    line-height: 24px;
}
  .container{
      width: 1400px;
      max-width: 100%;
      margin: 0 auto;
  }
header h2{
    text-align: center;
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 34px;
}
.bannerwrapper{
    display: block;
    margin-top: 40px;
}

.colum-one{
    background-image: url(../web-portfolio/images/top-banner.png);
    background-repeat: no-repeat;
    width: 100%;
    padding: 2% 2% 2% 10%;
}
.colum-one h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
.colum-one h1 span{
    color: orange;
}
.colum-one h4{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
}
.colum-one p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: dimgray;
}
.colum-one button{
    padding: 10px 40px;
    text-align: center;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border: none;
    border-radius: 5px;
    

}
.colum-one button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.colum-two{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 10%;
}
.colum-two img{
    width: 100%;
}
@media (min-width:768px) {
    .bannerwrapper{
        display: flex;
    }
    .colum-two{
        width: 50%;
        padding: 0% 2%;
    }
    .colum-one{
        background-image: url(../web-portfolio/images/top-banner.png);
        background-repeat: no-repeat;
        width: 50%;
        padding: 2% 0% 0% 10%;
    }
}
/*================banner end====================*/
.dawn-banner{
    display: block;
    padding-top: 7%;
}
.dawn-colone{
    width: 100%;
}
.dawn-colone img{
    width: 100%;
}
.dawn-coltwo{
    background-image: url(../web-portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    padding: 0% 3% 0% 7% ;
}
.dawn-coltwo button{
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.dawn-coltwo button a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}
@media (min-width:768px) {
    .dawn-banner{
        display: flex;
        padding-top: 7%;
    }
    .dawn-colone{
        width: 50%;
    }
    .dawn-colone img{
        width: 100%;
    }
    .dawn-coltwo{
        background-image: url(../web-portfolio/images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 50%;
        padding: 0% 3% 0% 7% ;
    }
    .dawn-coltwo button{
        background: linear-gradient(45deg, lightsalmon, tomato);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
    }
    .dawn-coltwo button a{
        text-decoration: none;
        color: #fff;
        font-size: 19px;
    }
}
/*===============dawn banner end==================*/
.card-sec{
    background-image: url(../web-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.card{
    display: block;
}
.card-one{
    width: 95%;
    padding-left: 4%;
    margin-left: 2%;
    padding-bottom: 2%;
}
.card-one h3{
    color: orange;
}
.card-one p{
    color: dimgray;
}
.card-two{
    width: 95%;
    margin-left: 2%;
    padding-left: 4%;
    padding-bottom: 2%;
}
.card-two h3{
    color: orange;
}
.card-two p{
    color: dimgray;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
}
#full-stact{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
@media (min-width:768px) {
    .card{
        display: flex;
    }
    .card-one{
        width: 50%;
        padding-left: 4%;
        margin-left: 2%;
    }
    .card-one h3{
        color: orange;
    }
    .card-one p{
        color: dimgray;
    }
    .card-two{
        width: 50%;
        margin-left: 2%;
        padding-left: 4%;
    }
}
/*=================dwn sec end=====*/
footer p{
    text-align: center;
    margin-top: 3%;
    font-size: 12px !important;
}
